:root {
/* Fonts */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
/* Text colors */
    --navy-blue: #2e2f42;
    --slate: #434455;
    --white: #ffffff;
    --cloud: #f4f4fd;
    --iris: #4d5ae5;
/* other */
    --background: rgba(46, 47, 66, 0.7);
    --ocean: #404bbf;
    --green: #31d0aa;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --dairy: #fcfcfc;

    --header-idx: 10;
    --modal-idx: 100;
    
    --anim-fast: 400ms ease-in;
    --anim-slow: 1000ms ease-in-out;
}


body {
    font-family: Roboto, sans-serif;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    background-color: var(--white);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* reset start */

h1,
h2,
h3,
p {
    margin: 0;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* reset end */

.container {
    /* Mobile styles & >*/
    min-width: 320px;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
/* Tablet styles & >*/
@media only screen and (min-width: 768px) {
.container {
    max-width: 768px;
  }
}
/* Desktop styles & >*/
@media only screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    }
}
.logo {
        font-family: var(--secondary-font);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--iris);
}

.logo-dark {
    color: var(--navy-blue);
    
}

.logo-light {
    color: var(--cloud);
}

/* header */

.header {
    height: 70px;
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
.header {
    height: 72px;
  }
}
.header-logo {
    margin-right: auto;
}

@media only screen and (min-width: 1158px) {
.header-logo { 
    margin-right: 76px;
  }
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
@media only screen and (min-width: 768px) {
.header-container   {
    height: 72px;
  }
}
.header-nav {
    display: flex;
    font-weight: 500;
    color: var(--navy-blue);
    margin-right: 332px;
    align-items: center;
}
 @media only screen and (max-width: 767px) {
     .header-nav {
         display: none;
     }
 }  

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header-link {
    color: inherit;
    padding: 24px 0;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}


.header-link:hover,
.header-link:focus {
    color: var(--ocean);
}

.header-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0px;
    border-radius: 2px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current::after {
    background-color: var(--ocean);
}
.header-link.current {
    color: var(--ocean);
}

/* adress */

.adress {
    font-style: inherit;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .adress {
        display: none;
    }
}
.adress-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.adress-item {}

.adress-link {
    display: inline-block;
    color: inherit;
    align-items: center;
    padding: 24px 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.adress-link:hover,
.adress-link:focus {
    color: var(--ocean);
}

/* hero */

.hero {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom, 
        var(--background), 
        var(--background)
        ),
        url(../images/Hero/Dark-bg.jpg);
        background-color: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 768px) {
.hero {
    height: 436px;
    padding: 112px 0;
  }
}
@media only screen and (min-width: 1158px) {
.hero {
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
                var(--background),
                var(--background)),
            url(../images/Hero/people-office.jpg);
        background-color: var(--background);
    }
}
.hero-uppertitle {
    font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            color: var(--white);
            text-align: center;
            letter-spacing: 0.02em;
            width: 496px;
            margin-bottom: 72px;
            margin-left: auto;
            margin-right: auto;
            max-width: 496px;
            width: 320px;
}

@media only screen and (min-width: 768px) {
.hero-uppertitle {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
.hero-uppertitle {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
    }
}
.hero-button {
        box-sizing: border-box;
        display: block;
        background: var(--iris);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: var(--white);
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-family: inherit;
        min-width: 169px;
        height: 56px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 16px 32px;
        border: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean);
}
/* Modal styles */
.backdrop {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: opacity 200ms ease, visibility 200ms ease;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    width: 408px;
    height: 584px;
    background-color: var(--dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 100;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
    transition: transform 400 ms ease-in 200ms, opacity 400ms ease-in 200ms;
    }

.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) rotate(360deg) scale (0.2);
    opacity: 0;
    }
.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}    
.modal-button:hover,
.modal-button:focus {
    fill: var(--white);
    background-color: var(--ocean);
    color: var(--white);
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-uppertitle {
    margin-bottom: 16px;
    text-align: center;
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.modal-form-names {
    display: block;
    margin-bottom: 8px;
}
.modal-form-name {
    display: block;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
}
.modal-form-input-wrap {
    display: block;
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    outline: none;
    border: 1px solid var(--iris);
}
.modal-form-input:focus + .modal-form-icon {
    fill: var(--iris);
}
.modal-form-icon {
    fill: var(--navy-blue);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
    resize: none;
    font-size: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
    border: 1px solid var(--iris);
    outline: none;
}
.modal-form-checkbox-wrap {
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.visually-hiden {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: -0px;
    padding: 0;
    overflow: hidden;
    border: 0;

}
.modal-form-link {
    color: var(--iris);
}
.modal-form-checkbox:checked + .modal-form-check-desk::before {
    background-color: var(--ocean);
    background-image: url(../images/Checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.modal-form-checkbox:focus+.modal-form-check-desk::before {
outline: 2px solid rgba(0, 0, 255, 0.5);
}
.modal-form-check-desk {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.modal-form-check-desk::before {
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    content: " ";
    margin-right: 8px;
}
.modal-form-btn {
    background: var(--iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    align-self: center;
    cursor: pointer;
    font-weight: 500;
    border: none;
}
.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: var(--ocean);
}
/* feature */

.feature {
    padding: 96px 16px;
}
@media only screen and (min-width: 1158px) {
.feature {
    padding: 120px 0;
  }
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}


@media only screen and (min-width: 768px) {
.feature-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
.feature-item {
    width: 264px;
  }
}
.feature-icon {
    display: none;
}
@media only screen and (min-width: 1158px) {
.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
  }
}
.feature-undertitle {
    text-align: center;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: var(--navy-blue);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
@media only screen and (min-width: 1158px) {
.feature-undertitle {
     font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
  }
}
/* what we are doing */

.doing {
    display: none;
}
@media only screen and (min-width: 1158px) {
.doing {
    display: flex;
    padding: 120px 0;
    padding-top: 0;
  }
}
.doing-undertitle {
        font-size: 36px;
        line-height: 1.17;
        color: var(--navy-blue);
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        margin: auto;
        margin-bottom: 72px;
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-item {
    width: calc((100%-48px)/3);
}


/* our team */

.team {
    background-color: var(--cloud);
    padding: 96px 82px;
}
@media only screen and (min-width: 1158px) {
.team   {
    padding: 120px 0;
  }
}
.team-undertitle {
        font-size: 36px;
        color: var(--navy-blue);
        letter-spacing: 0.02em;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.11;
        margin-bottom: 72px;
        text-align: center;
}

.team-list {
    width: 264px;
    margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
.team-list   {
    display: flex;
    gap: 24px;
  }
}
.team-item {
    background-color: var(--white);
    width: 264px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
.team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-card {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;

}
.team-uppertitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--navy-blue);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.team-text {
    margin-bottom: 8px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--ocean);
} 
.social-list-icon {
    width: 16px;
    height: 16px;
    fill: var(--cloud)
}

/* customers */

.customers {
    padding: 96px 0;
}
@media only screen and (min-width: 768px) {
.customers {
    padding: 120px 0;
  }
}
.customers-uppertitle {
    margin-bottom: 72px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-right: auto;
    margin-left: auto;
    line-height: 1.1;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}
@media only screen and (min-width: 1158px) {
.customers-list {
    gap: 24px;
  }
}
.customers-item {
    width: 190px;
    height: 88px;
   
}
.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    color: #afb1b8;  
    height: 100%;
    width: 100%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}
.customers-link:hover,
.customers-link:focus {
    border-color: var(--ocean);
    color: var(--ocean);
}
.customers-svg {
    fill: currentColor;
    width: 104px;
    height: 56px;
    justify-content: center;
    align-items: center;
}

/* footer */

.footer {
    background-color: var(--navy-blue);
    
}
@media only screen and (min-width: 1158px) {
.footer {
    padding: 100px 0;
  }
}
.footer-flex {
    padding: 96px 15px;
    text-align: center;
}
@media only screen and (min-width: 1158px) {
.footer-flex {
    align-items: baseline;
  }
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
   
}

.footer-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--cloud);
    width: 268px;
    text-align: left;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: var(--green);

}
.footer-social-list-icon {
    fill: var(--cloud);
}

.footer-first {
    margin-bottom: 72px;
}
@media only screen and (min-width: 1158px) {
.footer-first   {
    margin-right: 120px;
    margin-bottom: 0;
  }
}
.footer-social {
    margin-bottom: 16px;
    color: var(--white);
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-second {
    margin-bottom: 72px;
}
@media only screen and (min-width: minwidthpx) {
.footer-second {
    margin-right: 80px;
  }
}
.footer-form-wrap {
    
}
.footer-form {

}
@media only screen and (min-width: 1158px) {
.footer-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
  }
}
.footer-form-text {
    display: inline-block;
    color: var(--white);
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
}
.footer-form-e-mail {
    width: 398px;
    height: 40px;
    border: 1px solid var(--white);
    filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--navy-blue);
    font-size: 12px;
    line-height: 2;
    color: var(--white);
    padding: 8px 16px;
    
    margin-bottom: 16px;
}
@media only screen and (min-width: 1158px) {
.footer-form-e-mail   {
    min-width: 264px;
    margin-right: 24px;
  }
}
.footer-form-e-mail::placeholder {
    color: var(--white);
}
.footer-btn-subscribe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--iris);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    font-weight: 500;
}

@media only screen and (min-width: 1158px) {
.footer-btn-subscribe   {
    display: flex;
    align-items: center;
  }
}
.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
    background-color: var(--ocean);
}
.icon-footer {
    margin-left: 16px;
    fill: var(--white);
}
/* Portfolio */

/* filters */
.filters {
    padding-bottom: 120px;
    padding-top: 96px;
}

.filters-uppertitle {
  
}

.filters-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.filters-item {}

.filters-button {
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    border: 1px solid var(--cornflower);
        border-radius: 4px;
        cursor: pointer;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding: 12px 24px;
        min-height: 48px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: backgroun-colorcolor, border-color, box-shadow;
}
.filters-button:hover,
.filters-button:focus {
    background-color: var(--ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white);
    border: 1px solid transparent;
}
/* rows */

.rows {}

.rows-undertitle {}

.rows-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.rows-item {
    width: calc((100% - 48px) / 3);
}
.rows-item:hover .overlay 
.rows-item:focus .overlay {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
}
.rows-link {
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}


.rows-link:hover,
.rows-link:focus {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.rows-wrap {
    position: relative;
    overflow: hidden;
}
.rows-img {
}
.overlay {
    padding: 40px 32px 164px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--iris);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-label {
    color: var(--cloud);
}
.rows-card {
   padding: 32px 16px;
    border: 1px solid var(--cornflower); 
    border-top: none;
}
.rows-uppertitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--navy-blue);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.rows-text {
    color: var(--slate);
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--white);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 35px;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: auto;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--navy-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}
.mobile-menu .link:hover,
.mobile-menu .link:focus {
    color: var(--ocean);
}

.mobile-menu .current{
    color: var(--ocean);
}
.mobile-contacts {
    margin-bottom: 48px;
}
.mobile-munu-tel-item {
    margin-bottom: 40px;
}
.mobile-menu-tel {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: var(--iris);
    text-decoration: none;
}
.mobile-menu-mail {
    text-decoration: none;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--slate);
}
.mobile-menu-mail:hover,
.mobile-menu-mail:focus {
color: var(--iris);
}
.mobile-social-list {
    display: flex;
    gap: 56px;
}
 .mobile-hamburger {
    stroke: #2E2F42;
 }

 .mobile-close-btn {
    display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: var(--cornflower);
        opacity: 0.1;
        border-radius: 50%;
        border: 1px solid var(--navy-blue);
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
.mobile-social-list-link {
display: flex;
 justify-content: center;
 align-items: center;
 width: 40px;
 height: 40px;
 background-color: var(--iris);
 border-radius: 50%;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-property: background-color;
}
 .mobile-social-list-icon {
    fill: var(--cloud);
 }